BasedOnStyle: Microsoft
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ColumnLimit: 110
NamespaceIndentation: All
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
AccessModifierOffset: -4
